@import 'base';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap');

/* Variables
============================================ */

$primary: #ef233c;
$bg: #2b2d42;
$bg-light: #edf2f4;
$border: #e1e6e9;
$text: #fff;
$highlight: #bfd7ff;

/* Basics
============================================ */

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: $bg-light;
  overflow-x: hidden;
}

body {
  color: #2b2d42;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

header,
main {
  width: calc(100% - 4rem);
  padding: 0.5rem 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
}

main.container {
  margin-top: 1.5rem;
}

button {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: tomato;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}


/* Header
============================================ */

header {
  @include flexbox();
  @include justify-content(center);
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo {
  max-height: 48px;
}

/* Timer.js
============================================ */

.timer {
  margin-bottom: 1.5rem;
}

.start-timer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* SalaryForm.js
============================================ */

form {
  @include flexbox();
  @include flex-direction(column);
  width: 100%;
}

input[type="number"] {
  @include flex-grow(2);
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  &:focus {
    outline: 0;
    border-color: #000;
  }
}

.form__toggle {
  @include inline-flexbox();
}

input[type="radio"] {
  display: none;

  &:checked + label {
    background-color: tomato;
    color: white;
  }
}

label {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid tomato;
  color: tomato;
  font-weight: 700;
  width: 50%;
  text-align: center;

  &.label--hourly {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.label--salary {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


